*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App h1
{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.Form
{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background: linear-gradient(rgb(91, 197, 91), rgb(15, 70, 22) );
  border-radius: 4px;
}

.Form label
{
  margin: 10px;
}

.container-atributes
{
  display: flex;
  flex-direction: column;
}

.container-card
{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background: linear-gradient(rgb(91, 197, 91), rgb(15, 70, 22) );
  border-radius: 4px;
}
